/* Reset Declaration */
* {
  padding-block: 0;
  padding-inline: 0;
  margin-inline: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(59, 59, 59);
  display: flex;
  justify-content: flex-end;
  max-width: 100vw;
  overflow: hidden;
}

.container {
  display: inherit;
  inline-size: 50%;
  block-size: 100vh;
  align-items: center;
}

/* Every item targetted collectly */
.container > * {
  flex-basis: 20%;
  block-size: 50%;
  flex-grow: 1;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 1);
  border-radius: 20px;
  margin-right: -5rem;
}

.container > *:hover {
  transform: rotateZ(5deg) translateX(-5rem);
  transition: 500ms;
}

/* Target items individually because their background colors differs and application of different z-index */
.container > div:nth-child(1) {
  background-color: red;
}

.container > div:nth-child(2) {
  background-color: blue;
  z-index: 1;
}

.container > div:nth-child(3) {
  background-color: green;
  z-index: 2;
}

.container > div:nth-child(4) {
  background-color: yellow;
  z-index: 3;
}

@media (max-width: 768px) {
  .container {
    inline-size: 85%;
  }
}
@media (max-width: 425px) {
  .container {
    inline-size: 75%;
  }
}

@media (max-width: 320px) {
  .container {
    inline-size: 70%;
  }
}
