/* Reset Declaration */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(59, 59, 59);
}

.page1 {
  display: flex;
  justify-content: flex-end;
  min-inline-size: 100%;
}

.page1 > .cards-box {
  display: inherit;
  inline-size: 50%;
  min-block-size: 100vh;
  align-items: center;
}

/* Every item targetted collectly */
.cards-box > * {
  flex-basis: 20%;
  block-size: 50%;
  flex-grow: 1;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 1);
  border-radius: 20px;
  margin-right: -5rem;
}

.cards-box > *:hover {
  transform: rotateZ(5deg) translateX(-5rem);
  transition: 500ms;
}

/* Target items individually because their background colors and application of different z-index differs */
.cards-box > .card:nth-child(1) {
  background-color: red;
}

.cards-box > .card:nth-child(2) {
  background-color: blue;
  z-index: 1;
}

.cards-box > .card:nth-child(3) {
  background-color: green;
  z-index: 2;
}

.cards-box > .card:nth-child(4) {
  background-color: yellow;
  z-index: 3;
}

.page2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  animation: 20s linear infinite normal forwards move-left;
  white-space: nowrap;
}

h2 {
  font-size: 12vw;
  font-weight: 900;
  font-family: sans-serif;
  color: inherit;
  text-shadow: -20px 0 40px rgba(0, 0, 0, 1);
}

@keyframes move-left {
  0% {
    opacity: 0;
    color: red;
    transform: translateX(100vw);
  }

  20% {
    opacity: 1;
    color: red;
  }

  40% {
    color: blue;
  }

  60% {
    color: green;
  }

  80% {
    opacity: 1;
    color: yellow;
  }

  100% {
    opacity: 0;
    color: yellow;
    transform: translateX(-100vw);
  }
}

@media (max-width: 768px) {
  .page1 {
    inline-size: 85%;
  }
}
@media (max-width: 425px) {
  .page1 {
    inline-size: 75%;
  }
}

@media (max-width: 320px) {
  .page1 {
    inline-size: 70%;
  }
}
